* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#has-border-darker {
    background: #999999;
    color: #690990;
}

#has-border-dark {
    background: #888888;
    color: #8537A5;
}

#has-border-lighter {
    background: #777777;
    color: #CB8BE5;
}

#has-border-light {
    background: #666666;
    color: #E9B9FF;
}

/* Media for a PC */
@media (min-width: 576px) {
    body {
        margin: 0;
    }

    header {
        width: 100%;
        height: 12vh;
        display: grid;
        z-index: 1;
    }

    header span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .navButton {
        transition: 0.25s ease;
        height: 30%;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5vw;
        text-align: center;
        line-height: 1;
    }

    .navButton:hover {
        transition: 0.25s ease;
        height: 45%;
        padding-top: 10%;
    }

    #has-border-darker {
        grid-column: 7/8;
    }

    nav {
        /* display: flex;
        justify-content: flex-end; */
        width: 100%;
        padding-right: 0%;
        display: grid;
        grid-template-columns: repeat(10, 10%);
    }

    #logo,
    #logo img {
        animation: spin ease-in-out 1s;
        animation-iteration-count: infinite;
    }

    nav a:link {
        text-decoration: none;
    }

    nav a:visited {
        text-decoration: none;
    }

    .tapBox {
        display: none;
    }

    footer {
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 3vh;
        position: absolute;
        background-color: white;
        text-align: center;
    }

    .footer-socials {
        font-size: 180%;
    }
}

/* Media for a Phone */
@media (max-width: 576px) {
    body {
        margin: 0;
    }

    header {
        position: absolute;
        height: 100vh;
        margin: 0;
        padding: 0;
        z-index: 10;
    }

    .navButton {
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10vw;
        text-align: center;
        margin: 0;
        padding: 0;
        display: block;
    }

    #logo,
    #logo img {
        background-color: #AAAAAA;
        width: 290px;
        animation: spin ease-in-out 1s;
        animation-iteration-count: infinite;
    }

    nav img {
        width: 288px;
    }

    nav {
        width: 290px;
        transform: translateX(-240px);
        z-index: 10;
        position: absolute;
        animation: nav-close 280ms ease; 
        top: 0;
        background-color: #AAAAAA;
    }

    nav a:link {
        text-decoration: none;
    }

    nav a:visited {
        text-decoration: none;
    }

    #tapBox {
        display: block;
        position: absolute;
        height: 100%;
        width: 290px;
        transform: translateX(-240px);
        z-index: 100;
        animation: nav-close 280ms ease; 
        top: 10;
        background-color: rgba(1, 1, 1, 0);
    }

    #graybox {
        display: block;
        position: absolute;
        height: 100%;
        width: 290px;
        transform: translateX(-240px);
        background-color: #444444;
        z-index: 1;
        animation: nav-close 280ms ease; 
        top: 10;
    }

    #graybox.grayboxOpen {
        display: none;
    }

    #tapBox.tapBoxOpen{
        width: 100%;
        top: 0;
        animation: nav-open 280ms ease;
        transform: translateX(0);
        z-index: 1;
        background-color: #444444;
    }

    nav.open {
        height: auto;
        margin: 0;
        padding: 0;
        position: sticky;
        display: block;
        z-index: 100;
        animation: nav-open 280ms ease;
        width: 100%;
        transform: translateX(0);
    }

    footer {
        display: none;
    }
}

@keyframes nav-open {
    0% {
        transform: translateX(-240px);
    }
    50% {

    }
    100% {
        transform: translateX(0);
    }
}

@keyframes nav-close {
    0% {
        transform: translateX(0);
    }
    50% {

    }
    100% {
        transform: translateX(-240px);
    }
}

@keyframes spin {
    0%{
        transform: translateY(4px);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(4px);
    }
}