/* Media for a Desktop Screen */
@media (min-width: 576px) {

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(background.jpg);
        background-position: center;
    }

    main {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }

    /* This is an ID selector */
    #profile-pic {
        width: 12vw;
        height: 15vw;
        border-radius: 50% 50%;
        border: solid orange 2px;
        margin: 0% auto 0%;
        grid-column: 2/3;
    }

    main h1 {
        color: #0795C3;
        grid-column: 2/3;
        margin: 1% auto;
        border-bottom: .2em solid orange;
    }

    main h2 {
        grid-column: 2/3;
        margin: 3% auto;
        font-style: italic;
        color: #888888
    }

    .small-text {
        grid-column: 2/3;
        color: #888888;
        font-size: .51vw;
        margin: 13% auto 0%;
    }

    main button {
        grid-column: 2/3;
        margin: 3% auto;
        margin-bottom: .33vw;
        width: 12vw;
        height: 1vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5vw;
        border-radius: 25px;
        background: transparent;
        padding: 1vw;
        text-align: center;
        line-height: 0%;
        color: #0795C3;
        letter-spacing: .60vw;
        font-style: italic;
        border: white 1px solid;
    }

    #portfolio a:link {
        text-decoration: none;
        color: #0795C3;
    }

    #portfolio a:visited {
        text-decoration: none;
        color: #0795C3;
    }
}

/* Media for mobile */
@media (max-width: 576px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    main {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }

    /* This is an ID selector */
    #profile-pic {
        width: 12vw;
        height: 15vw;
        border-radius: 50% 50%;
        border: solid orange 2px;
        margin: 0% auto 0%;
        grid-column: 2/3;
    }

    main h1 {
        color: #0795C3;
        grid-column: 2/3;
        margin: 1% auto;
        border-bottom: .2em solid orange;
    }

    main h2 {
        grid-column: 2/3;
        margin: 3% auto;
        font-style: italic;
        color: #888888
    }

    .small-text {
        grid-column: 2/3;
        color: #888888;
        font-size: .51vw;
        margin: 13% auto 0%;
    }

    main button {
        grid-column: 2/3;
        margin: 3% auto;
        margin-bottom: .33vw;
        width: 12vw;
        height: 1vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5vw;
        border-radius: 25px;
        background: transparent;
        padding: 1vw;
        text-align: center;
        line-height: 0%;
        color: #0795C3;
        letter-spacing: .60vw;
        font-style: italic;
        border: white 1px solid;
    }

    #portfolio a:link {
        text-decoration: none;
        color: #0795C3;
    }

    #portfolio a:visited {
        text-decoration: none;
        color: #0795C3;
    }
}